<div class="card">
    <p-toast />
    
    <p-toolbar class="mb-6">
        <ng-template #start>
            <p-button label="הוספת תורם" icon="pi pi-plus" class="mr-2" (onClick)="openNew()" />
        </ng-template>
        <ng-template #end>
            <p-button label="ייצוא" icon="pi pi-upload" severity="secondary" (onClick)="dt.exportCSV()" />
        </ng-template>
    </p-toolbar>

    <p-table
        #dt
        [value]="donors"
        [rows]="10"
        [paginator]="true"
        [globalFilterFields]="['name', 'email', 'phoneNumber', 'giftsString']"
        [tableStyle]="{ 'min-width': '75rem' }"
        [rowHover]="true"
        dataKey="id"
        currentPageReportTemplate="מציג {first} עד {last} מתוך {totalRecords} תורמים"
        [showCurrentPageReport]="true"
    >
        <ng-template #caption>
            <div class="flex items-center justify-between">
                <div>
                    <h5 class="m-0 text-xl font-bold">ניהול תורמים</h5>
                    <span class="text-gray-500" *ngIf="donors">{{donors.length}} תורמים רשומים</span>
                </div>
                <p-iconfield>
                    <p-inputicon class="pi pi-search" />
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="חיפוש לפי שם, מייל או מתנה..." />
                </p-iconfield>
            </div>
        </ng-template>
        
        <ng-template #header>
            <tr>
               
                <th pSortableColumn="name" style="min-width:14rem">שם <p-sortIcon field="name" /></th>
                <th pSortableColumn="phoneNumber" style="min-width:10rem">טלפון <p-sortIcon field="phoneNumber" /></th>
                <th pSortableColumn="email" style="min-width:14rem">מייל <p-sortIcon field="email" /></th>
                <th style="min-width:16rem">מתנות</th>
                <th style="width: 8rem">פעולות</th>
            </tr>
        </ng-template>

        <ng-template #body let-donor>
            <tr>
                <td class="font-bold">{{ donor.name }}</td>
                <td>
                   <span class="flex items-center gap-2">
                       {{ donor.phoneNumber }} <i class="pi pi-phone text-gray-500"></i>
                   </span>
                </td>
                <td>
                    <span class="flex items-center gap-2">
                        {{ donor.email }} <i class="pi pi-envelope text-gray-500"></i>
                    </span>
                </td>
                <td>
                    <span class="flex items-center gap-2" *ngIf="donor.giftsString">
                        <i class="pi pi-gift text-purple-500" style="color: #a855f7;"></i> 
                        {{ donor.giftsString }}
                    </span>
                </td>
                <td>
                    <p-button icon="pi pi-pencil" [rounded]="true" [outlined]="true" class="mr-2" (click)="editDonor(donor)" />
                    <p-button [disabled]="donor.giftsString!==''" icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" (click)="deleteDonor(donor)" />
                </td>
            </tr>
        </ng-template>
    </p-table>

    <p-dialog [(visible)]="donorDialog" [style]="{ width: '450px' }" [header]="donor.id === 0 ? 'תורם חדש' : 'עריכת תורם'" [modal]="true" styleClass="p-fluid">
        <ng-template #content>
            <div class="flex flex-col gap-6">
                <div>
                    <label for="name" class="block font-bold mb-3">שם מלא</label>
                    <input type="text" pInputText id="name" [(ngModel)]="donor.name" required autofocus fluid />
                    <small class="text-red-500" *ngIf="submitted && !donor.name">שם הוא שדה חובה.</small>
                </div>
                <div>
                    <label for="email" class="block font-bold mb-3">מייל</label>
                    <input type="email" pInputText id="email" [(ngModel)]="donor.email" fluid />
                </div>
                <div>
                    <label for="phone" class="block font-bold mb-3">טלפון</label>
                    <input type="text" pInputText id="phone" [(ngModel)]="donor.phoneNumber" fluid />
                </div>
            </div>
        </ng-template>
        <ng-template #footer>
            <p-button label="ביטול" icon="pi pi-times" text (click)="hideDialog()" />
            <p-button label="שמור" icon="pi pi-check" (click)="saveDonor()" />
        </ng-template>
    </p-dialog>

    <p-confirmdialog [style]="{ width: '450px' }" />
</div>