.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa; 
}

:host ::ng-deep {
    .p-password, .p-inputtext, .p-button {
        width: 100%;
    }
}
:host ::ng-deep .p-inputtext:focus,
:host ::ng-deep .p-inputtext:enabled:focus,
:host ::ng-deep .p-password-input:focus {
    border-color: #4f46e5 !important;
    box-shadow: 0 0 0 0.2rem rgba(79, 70, 229, 0.15) !important;
}

:host ::ng-deep .p-password {
    width: 100%;
    display: block;
}
:host ::ng-deep .p-password-input {
    width: 100%;
}

:host ::ng-deep .p-message {
    border-radius: 8px !important;
}