/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --primary-color: #6366f1; /* הסגול שמופיע בלוגו */
  --primary-light: #eef2ff;
  --text-main: #1e293b;
  --border-radius: 12px;
}

.card {
  background: #ffffff;
  padding: 2rem;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05); /* צל עדין מאוד */
  border: 1px solid #f1f5f9;
}